{% extends "layout" %}

{% block title %}Hello{% endblock %}

{% block content %}
<h1>Hello, world!</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non ultricies
    leo, ac dignissim dui. Sed at condimentum odio. Phasellus ut neque quis
    nisl tempus aliquet vitae non risus. Donec urna sapien, condimentum vitae
    vulputate eu, aliquet eu leo. Proin convallis, leo vel convallis suscipit,
    lorem nisi vulputate risus, sit amet fermentum est urna ut velit. Morbi
    vel porttitor dui, eget convallis dolor. Vestibulum eu tortor aliquet urna
    suscipit pretium. Maecenas nibh est, pharetra dapibus faucibus a,
    hendrerit sed tellus. Mauris malesuada vitae dui non auctor. Morbi luctus
    lobortis leo quis auctor. Nullam lacinia mollis est, a scelerisque turpis
    molestie sed. Vivamus volutpat turpis et dapibus fringilla. Duis at
    rhoncus quam, in suscipit quam.
</p>
{% endblock %}